body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f3f4f6;
}

#app {
  display: flex;
  justify-content: space-around;
}

// Variables
$primary-color: #1E40AF;
$secondary-color: #6B7280;
$success-color: #22C55E;
$error-color: #F43F5E;
$input-bg-color: #F9FAFB;
$input-border-color: #E5E7EB;

h1 {
    color: $primary-color;
    text-align: center;
}

button {
  background-color: $primary-color;
  border: none;
  border-radius: 0.375rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  margin-block: 1em;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
